body {
    font-family: 'Rouge Script', cursive;
    background: black;
    color: #ffff
}

.h1 {
    font-size: 100px;
    font-family: 'Rouge Script', cursive;
    font-family: 'UnifrakturCook', cursive;
}

#log {
    font-family: 'Nothing You Could Do', cursive;
}

img {
    width: 100%;
    height: auto;
}